@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/* Base styles */

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* For Webkit browsers like Chrome/Safari */
::-webkit-scrollbar {
  display: none;
}

html {
  margin: 0;
  scroll-behavior: smooth;
  padding-bottom: 20px;
}

body {
  font-family: "Fredoka One", cursive;
  background-color: #f18d99;
  margin: 0 auto;
}

main {
  max-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Navigation styles */
nav {
  background-color: #87ceeb;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0 20px;
}

.logo {
  width: 80px;
  height: 80px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  transition: transform 0.3s ease, color 0.3s ease;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  display: inline-block;
  cursor: pointer;
}

nav li:nth-child(1) a { animation-delay: 0.2s; }
nav li:nth-child(2) a { animation-delay: 0.4s; }
nav li:nth-child(3) a { animation-delay: 0.6s; }
nav li:nth-child(4) a { animation-delay: 0.8s; }

nav li a:hover {
  color: #ffdab9;
  transform: scale(1.1);
}

/* Header styles */
header {
  text-align: center;
  padding: 40px;
  background-color: #87ceeb;
}

h1, h2 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

h1 {
  font-size: 3rem;
  margin: 0 0 10px;
  animation-delay: 1s;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  animation-delay: 1.2s;
}

.h2-details {
  animation-delay: 500ms;
}

.h2-details-link {
  font-size: 1.5rem;
  text-decoration: none;
  animation-delay: 1.2s;
}

.home-container {
  position: relative;
}

/* Mobile menu styles */
.burger-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 1000;
  border: none;
  transition: transform 0.3s ease;
  color: #f18d99;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.burger-menu:hover {
  color: #87ceeb ;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background-color: #87ceeb;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 999;
  text-decoration: none;
  border: none;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mobile-links a {
  color: #ffffff !important;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  transition: transform 0.3s ease, color 0.3s ease;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  text-align: center;
  cursor: pointer;
}

.mobile-links:hover {
  color: #ffdab9;
}

.mobile-menu.active {
  right: 0;
  border: none;
  color: #ffdab9;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

.mobile-menu ul li {
  padding: 10px 20px;
}

.mobile-menu ul li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

/* Generate button container styles */
.generate__button--container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 20px 20px;
}

/* Breed select styles */
#breed-select {
  width: 50%;
  border: 2px solid #ffdab9;
  background-color: white;
  color: #ffdab9;
  -webkit-text-stroke: 1px #2424244d;
  text-shadow: -1px -1px 0 #2424244d, 1px -1px 0 #2424244d, -1px 1px 0 #2424244d,
    1px 1px 0 #2424244d;
  cursor: pointer;
  padding: 15px 60px 15px 15px;
  margin: 10px;
  border-radius: 25px;
  font-size: 20px;
  font-family: "Fredoka One", cursive;
  opacity: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease forwards 1.6s;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5' stroke='%232424244d' stroke-width='2' fill='none' /><path d='M7 10l5 5 5-5' fill='%23ffdab9' /></svg>");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Button styles */
button {
  padding: 15px 20px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 25px;
  font-size: 20px;
  font-family: "Fredoka One", cursive;
  opacity: 0;
  background-color: #87ceeb;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease forwards 1.6s;
  -webkit-text-stroke: 1px #2424244d;
  text-shadow: -1px -1px 0 #2424244d, 1px -1px 0 #2424244d, -1px 1px 0 #2424244d,
    1px 1px 0 #2424244d;
}

button:hover {
  background-color: #ffdab9;
  color: white;
  transform: scale(1.05);
}

/* Home image styles */
.home__image--container {
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.home__image {
  width: 200px;
  height: 200px;
  margin-top: -20px;
  animation: fadeIn 1s ease forwards;
}

/* Footer styles */
footer {
  background-color: #87ceeb;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

footer p {
  opacity: 0;
  animation: fadeIn 1s ease forwards 1s;
}

/* Loading container styles */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;
  padding-bottom: 100px;
}

.loading-container-details {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.loading-message-details {
  position: absolute;
  padding-top: 80px;
  top: 60%;
  font-size: 24px;
  color: white;
}

.loading-cats {
  display: flex;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 200px;
}

.loading-message {
  position: absolute;
  top: 80%;
  font-size: 24px;
  color: white;
  padding-bottom: 20px;
}

.cat-icon {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0;
  animation: fadeInOut 4s ease-in-out infinite;
}

.cat-icon:nth-child(1) { animation-delay: 0s; }
.cat-icon:nth-child(2) { animation-delay: 1s; }
.cat-icon:nth-child(3) { animation-delay: 2s; }
.cat-icon:nth-child(4) { animation-delay: 3s; }

.loading-container p {
  margin-top: 20px;
  font-size: 18px;
  color: white;
}

/* Generated cats styles */
.generated-cats {
  display: none;
  background-color: #87ceeb;
  padding: 40px 20px;
  text-align: center;
}

.generated-cats h2 {
  color: white;
  margin-bottom: 32px;
  margin-top: -8px;
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}

.generated-cat-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.generated-cat-grid img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  animation: fadeIn 500ms ease forwards;
}

.generated-cat-grid-img {
  height: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cat-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
}

.generated-cat-grid img:nth-child(1) { animation-delay: 500ms; }
.generated-cat-grid img:nth-child(2) { animation-delay: 1s; }
.generated-cat-grid img:nth-child(3) { animation-delay: 1.5s; }
.generated-cat-grid img:nth-child(4) { animation-delay: 2s; }
.generated-cat-grid img:nth-child(5) { animation-delay: 2.5s; }
.generated-cat-grid img:nth-child(6) { animation-delay: 3s; }

.generated-cat-grid img:hover, .generated-cat-grid-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Animations */
@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  4%, 21% { opacity: 1; }
  25%, 96% { opacity: 0; }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .generated-cat-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 { font-size: 2.5rem; }
  h2 { font-size: 1.3rem; }
}

@media (max-width: 550px) {
  .nav-links { display: none; }

  .logo {
    width: 60px;
    height: 60px;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }

 

  .nav__container { justify-content: space-between; }

  h1 { font-size: 40px; }
  h2 { font-size: 20px; }
}

@media (max-width: 485px) {
  .generate__button--container {
    flex-direction: column;
    align-items: center;
  }

  #breed-select,
  button {
    width: 90%;
    max-width: 300px;
    margin: 10px auto;
    font-size: 16px;
  }

  #breed-select {
    padding: 12px 50px 12px 12px;
    background-size: 40px;
  }

  button { padding: 12px 16px; }
}

@media (max-width: 480px) {
  header { padding: 30px; }

  .generated-cat-grid { grid-template-columns: 1fr; }

  .home__image {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 551px) {
  .burger-menu {
    display: none;
  }

  .link-button {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
    padding: 0;
    margin: 0;
  }

  .link-button:hover,
  .link-button:focus {
    text-decoration: none;
  }

  .white-image {
    filter: invert(100%) brightness(1000%) contrast(100%);
  }
}
